@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h3 class="card-title">Introdução</h3>
            <p class="card-text">
                Sua privacidade é importante para nós. É política do nosso site respeitar sua privacidade em relação a qualquer informação que possamos coletar de você enquanto opera nosso site.
            </p>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h3 class="card-title">Informações que Coletamos</h3>
            <p class="card-text">
                Coletamos apenas informações necessárias para fornecer os melhores serviços e experiências possíveis em nosso site. As informações coletadas podem incluir:
            </p>
            <ul>
                <li>Dados Pessoais (como nome, e-mail, etc.)</li>
                <li>Informações de navegação (como IP, dispositivos utilizados, etc.)</li>
            </ul>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h3 class="card-title">Como Utilizamos Suas Informações</h3>
            <p class="card-text">
                As informações que coletamos são usadas para melhorar o desempenho e a funcionalidade do nosso site, bem como para personalizar a experiência do usuário.
            </p>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h3 class="card-title">Compartilhamento de Informações</h3>
            <p class="card-text">
                Não compartilhamos suas informações pessoais com terceiros, exceto conforme exigido por lei ou para melhorar a funcionalidade do site (por exemplo, parceiros de serviço de nuvem).
            </p>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h3 class="card-title">Segurança</h3>
            <p class="card-text">
                Tomamos medidas adequadas para proteger suas informações pessoais, mas lembre-se de que nenhuma transmissão de dados pela internet é 100% segura.
            </p>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h3 class="card-title">Alterações nesta Política de Privacidade</h3>
            <p class="card-text">
                Podemos atualizar nossa Política de Privacidade periodicamente. Recomendamos que você reveja esta página regularmente para estar ciente de quaisquer mudanças.
            </p>
        </div>
    </div>

    <div class="mt-4 text-center">
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Voltar para a Home</a>
    </div>
</div>
